body {
    margin: 0;
    background-color:bisque;
}

button {
    display: block;
    margin: 0 auto;
    width: 144px;
    font-size:20px;
}

.contents {
    font-size:30px;
    font-weight:bold;

    text-align: center;
}

.banner {
    width: 100%;
    height: 200px;
    background: red url("images/Logo.png") no-repeat center;
    background-size: contain;
    
    display: block;
}


